<page-header class="bg-blue-600"></page-header>

<div fxLayout="row wrap" class="matero-row">
  <div fxFlex="100" class="matero-col">
    <mat-card>
      <mat-tab-group class="m--16">
        <mat-tab label="Gerät">
          <div class="m-16">
            <mat-spinner *ngIf="isLoadingUser$.value" color="indeterminate" [strokeWidth]="1"  aria-label="Loading"></mat-spinner>
            <form [formGroup]="reactiveForm" class="form-field-full">
              <div *ngIf="!isLoadingUser$.value" fxLayout="row wrap" fxLayoutGap="8px grid">

                <div fxFlex="100" fxFlex.lt-sm="100">
                  <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email"
                           required>
                    <mat-error *ngIf="reactiveForm.get('email').errors?.required">{{ 'general.input_required' | translate }}
                    </mat-error>
                    <mat-error *ngIf="reactiveForm.get('email').errors?.duplicate">Email bereits vorhanden
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Nickname</mat-label>
                    <input matInput required placeholder="Nickname" formControlName="nickname">
                    <mat-error *ngIf="reactiveForm.get('nickname').errors?.duplicate">Nickname bereits vorhanden
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Passwort</mat-label>
                    <input type="password" matInput placeholder="Passwort" formControlName="password">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Vorname</mat-label>
                    <input matInput placeholder="Vorname" formControlName="first_name">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Nachname</mat-label>
                    <input matInput placeholder="Nachname" formControlName="last_name">
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button color="primary" class="m-t-8" (click)="onSubmitSave()" [disabled]="reactiveForm.invalid">{{ isCreate ? ('Erstellen') : 'Änderung speichen' }}</button>
            </form>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>
