<page-header class="bg-blue-600"></page-header>

<mat-card>
<form>
  <mat-form-field class="m-r-8">
    <input matInput [(ngModel)]="query.q" name="q" placeholder="{{translations.search_placeholder}}">
  </mat-form-field>

  <mat-form-field class="m-r-8">
    <mat-select [(ngModel)]="query.sort" name="sort" placeholder="{{translations.sort_placeholder}}">
      <mat-option>-- None --</mat-option>
      <mat-option *ngFor="let option of sort_options" value="{{option.value}}">{{option.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="m-r-8">
    <mat-select [(ngModel)]="query.order" name="order" placeholder="{{translations.sort_way_placeholder}}">
      <mat-option>-- None --</mat-option>
      <mat-option *ngFor="let option of sort_way_options" value="{{option.value}}">{{option.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-slide-toggle [(ngModel)]="!!query.show_inactive" name="inactive">Inaktive Ausblenden</mat-slide-toggle>

  <button class="m-r-8" mat-raised-button color="primary" (click)="loadAssetsSearch()">{{translations.search}}</button>
</form>
<div class="customizer-handle"
     matTooltip="Neues Gerät erstellen">
  <a mat-fab [routerLink]="['create']">
    <mat-icon>add</mat-icon>
  </a>
</div>
</mat-card>

<ng-container *ngIf="showTable">
<mat-card>
<mtx-grid [data]="list"
          [columns]="columns"
          [loading]="isLoading"
          [multiSelectable]="multiSelectable"
          [rowSelectable]="rowSelectable"
          [hideRowSelectionCheckbox]="hideRowSelectionCheckbox"
          [rowHover]="rowHover"
          [rowStriped]="rowStriped"
          [showToolbar]="showToolbar"
          [columnHideable]="columnHideable"
          [columnMovable]="columnMovable"
          [expandable]="expandable"
          [expansionTemplate]="expansionTpl"
          [pageOnFront]="false"
          [showPaginator]="showPaginator"
          [pageSizeOptions]="[5,10,50,100]"
          [pageIndex]="query.page"
          [columnMenuButtonText]="columnMenuButtonText"
          [toolbarTitle]="toolbarTitle"
          [pageSize]="query.per_page"
          [length]="assetLength"
          (page)="changePage($event)"
  >
</mtx-grid>
</mat-card>
</ng-container>
<ng-template #expansionTpl let-row let-index="index" let-col="colDef">
  {{translations.text}}:<br />
  {{row.text}}
</ng-template>
<ng-template #activeTpl let-row let-index="index" let-col="colDef">
  <mat-slide-toggle [checked]="!!row.active" disabled></mat-slide-toggle>
</ng-template>
<ng-template #oooTpl let-row let-index="index" let-col="colDef">
  <mat-slide-toggle [checked]="!!row.out_of_order" disabled></mat-slide-toggle>
</ng-template>

<ng-container *ngIf="!showTable">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let data of list">
      <mat-expansion-panel-header>
        <mat-panel-description>
          {{data.type}}
        </mat-panel-description>
        <mat-panel-title>{{data.name}}</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row">
        <div class="w-40">
          Name:
        </div>
        <div class="w-60">
          {{data.name}}
        </div>
      </div>
      <div class="row">
        <div class="w-40">
          Seriennr.:
        </div>
        <div class="w-60">
          {{data.serial}}
        </div>
      </div>
      <div class="row">
        <div class="w-40">
          Teamviewer:
        </div>
        <div class="w-60">
          {{data.teamviewer_id}}
        </div>
      </div>
      <div class="row">
        <div class="w-40">
          Citrix Benutzer:
        </div>
        <div class="w-60">
          {{data.citrix_numbers}}
        </div>
      </div>
      <div class="row">
        <div class="w-40">
          Standort:
        </div>
        <div class="w-60">
          {{data.place_city}}
        </div>
      </div>
      <div class="row">
        <div class="w-40">
          Typ
        </div>
        <div class="w-60">
          {{data.type}}
        </div>
      </div>
      <div class="row" *ngIf="data.text">
        <div class="w-40">
          Weitere Informationen:
        </div>
        <div class="w-60" style="white-space: pre-wrap;">{{data.text}}
        </div>
      </div>
      <mat-action-row>
        <button mat-button *ngIf="isAdmin" (click)="delete(data)">Löschen</button>
        <button mat-button (click)="navigateEdit(data)">Editieren</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-paginator [length]="assetLength" [pageSize]="query.per_page" [pageSizeOptions]="[5,10,50,100]"
                 (page)="changePage($event)">
  </mat-paginator>
</ng-container>
