@import '~@angular/material/theming';

// Dark style
$primary: mat-palette($mat-pink, 700, 500, 900);
$accent: mat-palette($mat-blue-grey, A200, A100, A400);
$warn: mat-palette($mat-red);
$theme: mat-dark-theme($primary, $accent, $warn);
$background: mat-color($theme, 'background');
$foreground: mat-color($theme, 'foreground');

.customizer-handle {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 119;
}
